<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- Importando Materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Ícones do Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="container">
  <h1 class="center-align">Bem-vindo ao nosso site!</h1>
  <h6 class="center-align">Um site para petshops</h6>

  <nav>
    <div class="nav-wrapper blue">
      <ul class="center-align">
        <li><a href="/pets" target="_blank" class="white-text">Pets</a></li>
        <li><a href="/tutors" target="_blank" class="white-text">Tutors</a></li>
        <li><a href="/products" target="_blank" class="white-text">Products</a></li>
        <li><a href="/services" target="_blank" class="white-text">Services</a></li>
        <li><a href="/orders" target="_blank" class="white-text">Orders</a></li>
        <li><a href="/api-docs" target="_blank" class="white-text">Swagger</a></li>
      </ul>
    </div>
  </nav>

  <footer class="page-footer blue">
    <div class="container center-align">
      <p>Confira o projeto no GitHub:
        <a href="https://github.com/CrisHayashi/PetWash" target="_blank" class="white-text">Acesse o repositório</a>
      </p>
    </div>
  </footer>

  <!-- Importando Materialize JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>
