<!-- Layout principal com mascote -->
<div class="section no-pad-bot banner-topo" id="index-banner">
  <div class="container center-align">
    <img src="https://cdn-icons-png.flaticon.com/512/616/616408.png" alt="Mascote Pet" width="100">
    <h1 class="header orange-text text-darken-3">PetWash</h1>
    <h5 class="light">Cuidando com amor de quem você ama 💛</h5>
    <a href="/services" class="btn-large waves-effect waves-light orange darken-2 pulse">Conheça nossos serviços</a>
  </div>
</div>
<br><br>
<!-- Dashboard -->
<div class="container">
  <h4 class="center-align titulo-dashboard">
    <i class="material-icons left">dashboard</i> Visão Geral do Sistema
  </h4>

  <div class="row">
    <!-- Indicadores -->
    <div class="col s12 m4">
      <div class="card-panel card-custom">
        <h5 class="center orange-text text-darken-2">Indicadores Gerais</h5>
        <div class="card-indicador">
          <span><i class="material-icons">pets</i> Pets</span>
          <strong id="totalPets">0</strong>
        </div>
        <div class="card-indicador">
          <span><i class="material-icons">person</i> Tutores</span>
          <strong id="totalTutores">0</strong>
        </div>
        <div class="card-indicador">
          <span><i class="material-icons">build</i> Serviços</span>
          <strong id="totalServicos">0</strong>
        </div>
        <div class="card-indicador">
          <span><i class="material-icons">shopping_cart</i> Produtos</span>
          <strong id="totalProdutos">0</strong>
        </div>
        <div class="card-indicador">
          <span><i class="material-icons">receipt</i> Pedidos</span>
          <strong id="totalPedidos">0</strong>
        </div>
      </div>
    </div>

    <!-- Gráfico de Serviços -->
    <div class="col s12 m4">
      <div class="card-panel card-custom">
        <h5 class="center green-text text-darken-2">Serviços Mais Populares</h5>
        <div class="grafico-container">
          <canvas id="graficoServicos"></canvas>
        </div>
      </div>
    </div>

    <!-- Gráfico de Produtos -->
    <div class="col s12 m4">
      <div class="card-panel card-custom">
        <h5 class="center blue-text text-darken-2">Produtos Mais Vendidos</h5>
        <div class="grafico-container">
          <canvas id="graficoProdutos"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
