<footer class="page-footer blue darken-2">
    <div class="container">
        <div class="row">
            <!-- Sobre o PetWash -->
            <div class="col l6 s12">
                <h5 class="white-text">Sobre o PetWash</h5>
                <p class="grey-text text-lighten-4">Cuidamos do seu pet com amor e dedicação! Oferecemos serviços de banho, tosa, consulta veterinária e muito mais para o bem-estar do seu melhor amigo.</p>
                <p class="grey-text text-lighten-4">Nosso compromisso é garantir a saúde e felicidade do seu pet, proporcionando um atendimento de qualidade e carinho em cada visita.</p>
            </div>
            <!-- Links Úteis -->
            <div class="col l3 s12">
                <h5 class="white-text">Links Úteis</h5>
                <ul>
                    <li><a class="white-text" href="/tutors">Tutores</a></li>
                    <li><a class="white-text" href="/pets">Pets</a></li>
                    <li><a class="white-text" href="/products">Produtos</a></li>
                    <li><a class="white-text" href="/services">Serviços</a></li>
                    <li><a class="white-text" href="/orders">Agendamentos ou Compras</a></li>
                </ul>
            </div>

            <!-- Redes Sociais -->
            <div class="col l3 s12">
                <h5 class="white-text">Siga-nos</h5>
                <ul>
                    <li><a class="white-text" href="#!"><i class="material-icons left">facebook</i>Facebook</a></li>
                    <li><a class="white-text" href="#!"><i class="material-icons left">photo_camera</i>Instagram</a></li>
                    <li><a class="white-text" href="#!"><i class="material-icons left">email</i>Email</a></li>
                    <li><a class="white-text" href="#!"><i class="material-icons left">location_on</i>Localização</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Rodapé -->
    <div class="footer-copyright">
        <div class="container center-align">
            © 2023 PetWash. Todos os direitos reservados.
            <a class="orange-text text-lighten-3 right" href="#!">Mais informações</a>
        </div>
    </div>  
</footer>