<header>
  <div class="navbar-fixed">
    <nav class="blue darken-2">
      <div class="nav-wrapper container">
        <a href="/" class="brand-logo">PetWash</a>
        <!-- Pode colocar mais coisas aqui -->
      </div>
    </nav>
  </div>
</header>